html { height: 100%; }
body {
  margin: 0px;
  background-color: #f9f9f6;
  padding: 12px;
  min-height: 100%;
  direction: ltr;
}
ul, ol, dl, dd { margin: 0; }
div, pre, p, li, dt { margin: 1em 0 0 0; padding: 0; }
.first-child { margin-top: 0; }
li.condensed { margin-top: 0.2em; }
a {
  text-decoration: none;
  color: #1f609f;
}
a:visited {
  color: #9f1f6f;
}
a:hover { text-decoration: underline; }

div.headbar {
  margin: 0;
  max-width: 48em;
}
div.footbar {
  margin: 0;
  max-width: 48em;
}
div.body {
  margin: 0;
  padding: 1em;
  max-width: 48em;
  min-height: 20em;
  -moz-border-radius: 6px;
  border: solid 1px #e0e0df;
  background-color: #ffffff;
}
div.copyrights {
  text-align: center;
  color: #3f3f3f;
}
div.section { margin-top: 2.4em; clear: both; }
div.section div.section {
  margin-top: 1.72em;
  margin-left: 1.72em;
}
div.section div.section div.section { margin-top: 1.44em; }
div.header {
  margin: 0;
  color: #3f3f3f;
  border-bottom: solid 1px #e0e0df;
}
h1 {
  font-size: 1.44em;
  margin: 0;
}
h2, h3, h4, h5, h6, h7 {
  font-size: 1.2em;
  margin: 0;
}
table { border-collapse: collapse; }

div.autolinks ul { margin: 0; padding: 0; }
div.autolinks div.title { margin: 1em 0 0 1em; }
div.autolinks div.title span {
  border-bottom: solid 1px #e0e0df;
}
li.autolink { margin: 0.5em 0 0 0; padding: 0 0 0 1em; list-style-type: none; }

div.linktrail {
  margin: 0;
}
div.linktrail {
  font-size: 0.83em;
  margin: 0 1px 0.2em 1px;
  padding-left: 1.2em;
  color: #3f3f3f;
}

table.twocolumn { width: 100%; }
td.twocolumnleft { width: 48%; vertical-align: top; padding: 0; margin: 0; }
td.twocolumnright {
  width: 52%; vertical-align: top;
  margin: 0; padding: 0;
  padding-left: 1em;
}

div.linkdiv div.title {
  font-size: 1em;
  color: inherit;
}
div.linkdiv {
  margin: 0;
  padding: 0.5em;
  -moz-border-radius: 6px;
  border: solid 1px #ffffff;
}
div.linkdiv:hover {
  border-color: #c0c9ff;
  background-color: #f0f9ff;
}
div.linkdivsep {
  margin: 0.5em;
  list-style-type: none;
  max-width: 24em;
  border-bottom: solid 1px #e0e0df;
}

div.title {
  margin: 0 0 0.2em 0;
  font-weight: bold;
  color: #3f3f3f;
}
div.desc { margin: 0 0 0.2em 0; }
div.desc-listing, div.desc-synopsis { font-style: italic; }
div.desc-figure { margin: 0.2em 0 0 0; }
pre.code {
  /* FIXME: In RTL locales, we really want to align this left, but the watermark
   * we have is designed to fit in the top right corner.  Either we need a new
   * watermark, or we need a separate RTL version.
   */
  background: url('watermark-code.png') no-repeat top right;
  border: solid 2px #e0e0df;
  padding: 0.5em 1em 0.5em 1em;
}
div.example {
  border-left: solid 4px #e0e0df;
  padding-left: 1em;
}
div.figure {
  margin-left: 1.72em;
  padding: 4px;
  color: #3f3f3f;
  border: solid 1px #e0e0df;
  background-color: #f9f9f6;
}
div.figure-contents {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  color: #ffffff;
  border: solid 1px #e0e0df;
  background-color: #ffffff;
}
div.listing-contents { margin: 0; padding: 0; }
div.note {
  padding: 0.5em 6px 0.5em 6px;
  border-top: solid 1px #ffc0c0;
  border-bottom: solid 1px #ffc0c0;
  background-color: #fffff0;
}
div.note-inner {
  margin: 0;
  padding-left: 60px;
  background-position: left top;
  background-repeat: no-repeat;
  min-height: 48px;
  background-image: url("admon-note.png");
}
div.note-advanced div.note-inner {  }
div.note-bug div.note-inner { background-image: url("admon-bug.png"); }
div.note-important div.note-inner { background-image: url("admon-important.png"); }
div.note-tip div.note-inner { background-image: url("admon-tip.png"); }
div.note-warning div.note-inner { background-image: url("admon-warning.png"); }
div.note-contents { margin: 0; padding: 0; }
div.quote-inner {
  margin: 0;
  background-image: url('watermark-blockquote-201C.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding: 0.5em;
  padding-left: 4em;
}
div.title-quote {
  margin-left: 4em;
}
blockquote { margin: 0; padding: 0; }
div.cite-comment {
  margin-top: 0.5em;
  color: #3f3f3f;
}
div.cite-quote {
  margin-top: 0.5em;
  color: #3f3f3f;
}
div.cite-quote::before {
  
  content: '― ';
}
pre.screen {
  padding: 0.5em 1em 0.5em 1em;
  background-color: #f9f9f6;
  border: solid 2px #e0e0df;
}
div.synopsis-contents {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: #c0c9ff;
  background-color: #f9f9f6;
}
div.synopsis pre.code {
  background: none;
  border: none;
  padding: 0;
}

div.list-contents { margin: 0; padding: 0; }
div.title-list { margin-bottom: 0.5em; }
ol.list, ul.list { margin: 0; padding: 0; }
li.item-list { margin-left: 1.44em; }

div.steps-contents {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: #c0c9ff;
  background-color: #fffff0;
}
div.steps-contents div.steps-contents {
  padding: 0;
  border: none;
  background-color: none;
}
ol.steps, ul.steps { margin: 0; padding: 0; }
li.item-steps { margin-left: 1.44em; }

div.terms-contents { margin: 0; }
dt.item-next { margin-top: 0; }
dd.item-terms {
  margin-top: 0.2em;
  margin-left: 1.44em;
}

ul.tree {
  margin: 0; padding: 0;
  list-style-type: none;
}
li.item-tree { margin: 0; padding: 0; }
div.item-tree { margin: 0; padding: 0; }
ul.tree ul.tree { margin-left: 1.44em; }
div.tree-lines ul.tree { margin-left: 0; }

table.table {
  border-collapse: collapse;
  border-color: #555753;
  border-width: 1px;
}
table.table td {
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-color: #888a85;
  border-width: 1px;
  vertical-align: top;
}

span.app { font-style: italic; }
span.cmd {
  font-family: monospace;
  background-color: #f9f9f6;
  padding: 0 0.2em 0 0.2em;
}
span.code { font-family: monospace; }
span.em { font-style: italic; }
span.email { color: red; }
span.file { font-family: monospace; }
span.gui, span.guiseq { color: #3f3f3f; }
span.input { font-family: monospace; }
span.hi {
  background-color: #fffff0;
}
span.key {
  color: #3f3f3f;
  border: solid 1px #e0e0df;
  padding: 0 0.2em 0 0.2em;
}
span.keyseq {
  color: #3f3f3f;
}
span.output { font-family: monospace; }
pre.screen span.output {
  color: #3f3f3f;
}
pre.screen span.output-error {

  color: #ff0000;
}
pre.screen span.output-prompt { font-weight: bold; }
span.sys { font-family: monospace; }
span.var { font-style: italic; }

div.version {
  position: absolute;
  right: 12px;
  opacity: 0.2;
  margin-top: -1em;
  padding: 0.5em 1em 0.5em 1em;
  max-width: 24em;
  -moz-border-radius: 6px;
  border: solid 1px #e0e0df;
  background-color: #fffff0;
}
div.version:hover { opacity: 0.8; }
div.version p.version { margin-top: 0.2em; }
div.linkdiv div.title span.status {
  font-size: 0.83em;
  font-weight: normal;
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: #3f3f3f;
  border: solid 1px #ffc0c0;
}
div.linkdiv div.title span.status-stub { background-color: #fff0f0; }
div.linkdiv div.title span.status-draft { background-color: #fff0f0; }
div.linkdiv div.title span.status-incomplete { background-color: #fff0f0; }
div.linkdiv div.title span.status-review { background-color: #fffff0; }
div.linkdiv div.desc {
  margin-top: 0.2em;
  color: #3f3f3f;
}
div.comment {
  padding: 0.5em;
  border: solid 2px #ffc0c0;
  background-color: #fff0f0;
}
div.comment div.comment {
  margin: 1em 1em 0 1em;
}
div.comment div.cite {
  margin: 0 0 0.5em 0;
  font-style: italic;
}
